{% extends "base.html.twig" %}

{% use "generico/formulario.html.twig" %}
{% if control>0 %}
    {% use "generico/tabla.html.twig" %}
    {% use "generico/grafica.html.twig" %}
{% endif %}

{% block stylesheets %}  
    {{ parent() }}    
    {% block stylesheetsFormulario %}  
        {{ parent() }} 
    {% endblock %}       
    {% if control>0 %}
        {% block stylesheetsTabla %} 
            {{ parent() }} 
        {% endblock %} 
    {% endif %}
{% endblock %}


{% block title %}{{info['pagina'].titulo}}{% endblock %}


{% block body %}   
  <div class="col-md-6 col-sm-6 col-xs-12"> 
    {% block bodyFormulario %}      
        {{ parent() }} 
 
    {% endblock %}
    </div>
    
    {% if control>0 %}
        <div class="col-md-6 col-sm-6 col-xs-12">  
            {% block bodyGrafica %}               
                {{ parent() }}                  
            {% endblock %}
            
        </div>
   {% endif %}
{% endblock %}


{% block body2 %} 
    {% if control>0 %}    
        {% block bodyTabla %}
            {{ parent() }}  
        {% endblock %} 
    {% endif %} 
{% endblock %}

{% block body3 %}   
    
{% endblock %}

   


{% block javascripts %}  
    {{ parent() }} 
    {% block javascriptsFormulario %}   
        {{ parent() }} 
    {% endblock %}
    {% if control>0 %}
        {% block javascriptsTabla %}     
            {{ parent() }} 
        {% endblock %}   
        {% block javascriptsGrafica %}     
            {{ parent() }} 
        {% endblock %}
    {% endif %}
{% endblock %}








