{% extends "base.html.twig" %}

{% use "generico/formulario.html.twig" %}
{% use "generico/tabla.html.twig" %}
{% use "generico/grafica.html.twig" %}

{% block stylesheets %}  
    {{ parent() }} 
    {% block stylesheetsFormulario %}  
        {{ parent() }} 
    {% endblock %}   
    {% block stylesheetsTabla %} 
        {{ parent() }} 
    {% endblock %} 
{% endblock %}


{% block title %}Hola index{% endblock %}


{% block body %}   
  <div class="col-md-6 col-sm-6 col-xs-12"> 
    {% block bodyFormulario %}      
        {{ parent() }}  
    {% endblock %}
    </div>
     <div class="col-md-6 col-sm-6 col-xs-12">  
    {% block bodyGrafica %}
        {{ parent() }}  
    {% endblock %}
    </div>
{% endblock %}

{% block body2 %}
     
    {% block bodyTabla %}
        {{ parent() }}  
    {% endblock %}
  
{% endblock %}

{% block body3 %}   
    
{% endblock %}

   


{% block javascripts %}  
    {{ parent() }} 
    {% block javascriptsFormulario %}   
        {{ parent() }} 
    {% endblock %}
    {% block javascriptsTabla %}     
        {{ parent() }} 
    {% endblock %}
     {% block javascriptsGrafica %}     
        {{ parent() }} 
    {% endblock %}
{% endblock %}








