{% extends "base.html.twig" %}

{% block stylesheets %}  
    {{ parent() }}         
{% endblock %}


{% block title %}{{info['pagina'].titulo}}{% endblock %}


{% block body %} 
{% endblock %}


{% block body2 %} 
{% endblock %}

{% block body3 %}  
 {% embed "generico/ventana.html.twig" %}
            {% block tituloVentana %}{{info['tabla'].titulo}}{% endblock %} 
            {% block subTituloVentana %}{{info['tabla'].subtitulo}}{% endblock %}
            {% block bodyVentana %}  
             <div class="scroll">                  
                   <p>Versión: Beta 1.15 </p>
                   <h2>Recomendación. </h2>
                   <p>Utilice como navegador <i class="fa fa-firefox"> Mozilla Firefox</i> o <i class="fa fa-chrome"<i> Google Chrome en su ultima versión</i></p>
              </div>
            {% endblock %}
  {% endembed %}   
{% endblock %}

   


{% block javascripts %}  
    {{ parent() }}  
{% endblock %}








