{% extends "base.html.twig" %}

{% use "generico/formulario.html.twig" %}
{% use "generico/tabla.html.twig" %}
{% use "generico/grafica.html.twig" %}


{% block stylesheets %}  
    {{ parent() }}    
    {% block stylesheetsFormulario %}  
        {{ parent() }} 
    {% endblock %}       
    {% if control>0 %}
        {% block stylesheetsTabla %} 
            {{ parent() }} 
        {% endblock %}
        {% block stylesheetsGrafica %}    
            {{ parent() }} 
        {% endblock %} 
    {% endif %}
<style>
.alerta_conexion_empy 
{   
    width: 100%;   
    font-size: 130%;
}
</style>  
{% endblock %}


{% block title %}{{info['pagina'].titulo}}{% endblock %}


{% block body %} 
    {% block bodyFormulario %}      
        {{ parent() }}  
    {% endblock %}    
{% endblock %}


{% block body2 %} 
   {% if control>0 %}       
        {% block bodyGrafica %}               
            {{ parent() }}                  
        {% endblock %}
   {% endif %}
{% endblock %}

{% block body3 %}   
     {% if control>0 %}    
        {% block bodyTabla %}
            {{ parent() }}  
        {% endblock %} 
    {% endif %} 
{% endblock %}

   


{% block javascripts %}  
    {{ parent() }} 
    {% block javascriptsFormulario %}   
        {{ parent() }} 
    {% endblock %}
    {% if control>0 %}
        {% block javascriptsTabla %}     
            {{ parent() }} 
        {% endblock %}   
        {% block javascriptsGrafica %}     
            {{ parent() }} 
        {% endblock %}
    {% endif %}
    <script>    
    if($.isEmptyObject($('#form_idConexion').val()))
    {   
         Alerta('Advertencia','Para usar este modulo, debe crear primero una conexion a BD Externa.','success');  
        $('#formulario-generico').remove();
        $('#add-formulario-generico').html("<a href='{{ asset('conexion/')}}'><li class='alerta_conexion_empy fa fa-share btn btn-success btn-lg'> Cree su primera conexión a BD Externa.</li></a>");
        
      
    }
    </script>
{% endblock %}








