{% extends "base.html.twig" %}

{% use "generico/formulario.html.twig" %}
{% use "generico/graficaRegresion.html.twig" %}


{% block stylesheets %}  
    {{ parent() }}    
    {% block stylesheetsFormulario %}  
        {{ parent() }} 
    {% endblock %}
    {% block stylesheetsGrafica %}    
        {{ parent() }} 
    {% endblock %}
<style>
.alerta_conexion_empy {
    white-space: normal;
}
</style> 
{% endblock %}


{% block title %}{{info['pagina'].titulo}}{% endblock %}


{% block body %}      
    {% block bodyFormulario %}          
        {{ parent() }}  
    {% endblock %} 
{% endblock %}


{% block body2 %}  
    {% if control>0 %}         
        {% block bodyGrafica %}    
                   
            {{ parent() }}                  
        {% endblock %}
    {% endif %}
{% endblock %}

{% block body3 %}  
  
{% endblock %}

   


{% block javascripts %}  
    {{ parent() }} 
    {% block javascriptsFormulario %}   
        {{ parent() }} 
    {% endblock %}
    {% if control>0 %}        
        {% block javascriptsGrafica %}     
            {{ parent() }} 
        {% endblock %}
    {% endif %}
    <script> 
    /*   
    if($.isEmptyObject($('#form_idConexion').val()))
    {   
        Alerta('Advertencia','Para usar este modulo, debe crear primero una conexion a BD Externa.','success');  
        $('#formulario-generico').remove();
        $('#add-formulario-generico').html("<a class='alerta_conexion_empy btn btn-success btn-lg' href='{{ asset('conexion/')}}'><i class='fa fa-share'></i> Cree su primera conexión a BD Externa.</a>");
     }
     */
   </script>
    
{% endblock %}
















