{% extends "base.html.twig" %}

{% use "generico/formulario.html.twig" %}
{% use "generico/graficaRegresion.html.twig" %}


{% block stylesheets %}  
    {{ parent() }}    
    {% block stylesheetsFormulario %}  
        {{ parent() }} 
    {% endblock %}
    {% block stylesheetsGrafica %}    
        {{ parent() }} 
    {% endblock %}
<style>
.alerta_conexion_empy {   
    font-size: 18px;
    margin-left: 119px;
}
</style> 
{% endblock %}


{% block title %}{{info['pagina'].titulo}}{% endblock %}


{% block body %}   
  <div class="col-md-6 col-sm-6 col-xs-12"> 
    {% block bodyFormulario %}      
        {{ parent() }} 
 
    {% endblock %}
    </div>
    
    {% if control>0 %}
        <div class="col-md-6 col-sm-6 col-xs-12">  
            {% block bodyGrafica %}               
                {{ parent() }}                  
            {% endblock %}
            
        </div>
   {% endif %}
{% endblock %}


{% block body2 %}  
{% endblock %}

{% block body3 %}       
{% endblock %}

   


{% block javascripts %}  
    {{ parent() }} 
    {% block javascriptsFormulario %}   
        {{ parent() }} 
    {% endblock %}
    {% if control>0 %}        
        {% block javascriptsGrafica %}     
            {{ parent() }} 
        {% endblock %}
    {% endif %}
    <script>    
    if($.isEmptyObject($('#form_idConexion').val()))
    {   
         Alerta('Advertencia','Para usar este modulo, debe crear primero una conexion a BD Externa.','success');  
        $('#formulario-generico').remove();
        $('#add-formulario-generico').html("<a href='{{ asset('conexion/')}}'><li class='alerta_conexion_empy fa fa-share btn btn-success btn-lg'> Cree su primera conexión a BD Externa.</li></a>");
        
      
    }
    </script>
{% endblock %}
















