
{% block stylesheetsFormulario %}    
<!-- select2 -->
<link href='{{ asset("css2/select/select2.min.css")}}' rel="stylesheet">
 
 <style>
  .rojo{
  color: red;
  }
 </style>
{% endblock %}
{% block bodyFormulario %}     
        {% embed "generico/ventana.html.twig" %}
                {% block tituloVentana %}{{info['formulario'].titulo}}{% endblock %} 
                {% block subTituloVentana %}{{info['formulario'].subtitulo}}{% endblock %}
                {% block bodyVentana %}  
                <div id="add-formulario-generico">
                <div id="formulario-generico">         
                  <!-- Tabs -->
                  <div id="wizard" class="form_wizard wizard_horizontal">
                 
                    <ul class="list-unstyled wizard_steps">
                      <li>
                        <a href="#step-11">
                          <span class="step_no">1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#step-22">
                          <span class="step_no">2</span>
                        </a>
                      </li>
                      <li>
                        <a href="#step-33">
                          <span class="step_no">3</span>
                        </a>
                      </li>
                      <li>
                        <a href="#step-44">
                          <span class="step_no">4</span>
                        </a>
                      </li>
                    </ul>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left '}}) }}
                    {{ form_errors(form) }}

  	
                    <div id="step-11">
                      <h2 class="StepTitle">Paso 1</h2>					 
                        <span class="section"></span> 
                        <div class="form-group">
                          {{ form_label(form.idConexion) }}
                          {{ form_errors(form.idConexion) }}
                          <div class="col-md-6 col-sm-6">
                           {{ form_widget(form.idConexion) }}
                          </div>
                        </div>                       
                    </div>
                    <div id="step-22">
                      <h2 class="StepTitle">Paso 2</h2>
                      <div class="form-group">					 
					  <label class="control-label col-md-5 col-xs-5 ">Seleccione las tablas a usar</label>					 
                      <div class="col-md-6 col-xs-6 ">
                        <select id="combox_tabla" class="select2_single form-control " tabindex="-1">                        
                        </select>
                      </div>
                      <div class="col-md-1 col-xs-1 "> 					
                        <a  id="add_tabla" class="btn btn-round btn-success"><i class="fa fa-plus" ></i></a>
                      </div>      
                      </div>
                      <div class="ln_solid"></div>   
                      <div class="form-group">
                        <div class="col-xs-12"> 
                            <div  id="select_tabla"> </div>
                        </div>      
                      </div> 					
                    </div>
					
                    <div id="step-33">
                      <h2 class="StepTitle">Paso 3</h2>
                      <div class="col-xs-12">
                      <h2 class="StepTitle">Seleccione las columnas a usar:</h2>
                      </div> 
                      <div class="form-group">                                         
                        <div class="col-md-10 col-sm-10 col-xs-12">
                          <select id="combox_tabla_a" class="col-xs-12 select2_single form-control" tabindex="-1">                        
                          </select>                            
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12"> 					
                          <a  id="add_tabla_rows" class="btn btn-round btn-success"><i class="fa fa-plus" ></i></a>
                        </div> 
					    	      </div>                        
                      <div class="form-group">
                        <div class="col-xs-12">
                            <div  id="row_tabla"></div>
                        </div>      
                      </div>
                      <div class="ln_solid"></div>  
                      <div class="form-group">
                        <div class="col-xs-12">
                            <div  id="columna_tabla_select"></div>
                        </div>      
                      </div>
          					  <div id="ocultar_relacion_tabla">
						          <div class="ln_solid"></div> 
                      <div class="col-xs-12">
                      <h2 class="StepTitle">Relacione las tablas:</h2>
                      </div> 
                        <div class="form-group">                        
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <select id="select_tabla_a" class="col-xs-12 select2_single form-control" tabindex="-1">                        
                          </select>   
                           <div  id="row_tabla_select_a">
                           </div>                           
                        </div> 
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <select id="union_select" class="form-control" > 
                            <option>Unión</option>  
                            <option>Unión por derecha</option>   
                            <option>Unión por izquierda</option>                        
                          </select>                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <select id="select_tabla_b" class="col-xs-12 select2_single form-control" tabindex="-1">                        
                          </select> 
						              <div  id="row_tabla_select_b"> 
                          </div>  						  
                        </div> 
                        <div class="col-md-1 col-sm-1 col-xs-12"> 					
                          <a  id="add_tabla_rows" class="btn btn-round btn-success"><i class="fa fa-plus" ></i></a>
                        </div>    
                      </div> 
					          </div>
                    </div>
                    <div id="step-44">
                      <h2 class="StepTitle">Paso 4</h2>
                        <span class="section"></span> 
                        <div class="form-group">
                          {{ form_label(form.TextAreaSQL) }}
                          {{ form_errors(form.TextAreaSQL) }} 
                          <div class="col-md-6 col-sm-6">
                          {{ form_widget(form.TextAreaSQL) }}
                          </div>
                        </div>  
                    </div>
                  {{ form_end(form) }}
                  <!-- End SmartWizard Content -->  
				</div>
        </div>
				</div>
               
            {% endblock %}
        {% endembed %}
{% endblock %}
{% block javascriptsFormulario %}  
 <!-- form wizard -->
 <script type="text/javascript" src='{{ asset("js/wizard/jquery.smartWizard.js")}}'></script>
 <!-- select2 -->
 <script src='{{ asset("js/select/select2.full.js")}}'></script>
   
  <script>
  //   '<i class="fa fa-floppy-o" ></i>'
     $(document).ready(function() {
      // Smart Wizard
      $('#wizard').smartWizard({          
          labelNext:'<i class="fa fa-arrow-right"></i>', // label for Next button
          labelPrevious:'<i class="fa fa-arrow-left"></i>', // label for Previous button
          labelFinish:'<i class="rojo fa fa-ban" ></i>',  // label for Finish button  
          onFinish:onFinishCallback ,
           onLeaveStep:leaveAStepCallback,
      });

      function onFinishCallback() {
        $('form').submit();
      }
    });
    function leaveAStepCallback(obj, context){
       // alert("Leaving step " + context.fromStep + " to go to step " + context.toStep);
        return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation 
    }

    var control_select_combo=true;
    $( "#form_idConexion" ).change(function() {
      control_select_combo=true;
    });
    
     $( "#combox_tabla_a" ).change(function() {
       var table=$('#combox_tabla_a option:selected').text();
       if(!$.isEmptyObject($('#row_tabla'))){
            $('#row_tabla').empty();       
          }  
       jQuery.each(filas_global[table], function (indice, valor) {	
            $('#row_tabla').append('<div class=""><label><input type="checkbox" value="'+indice+'" > '+indice+'</label></div>')
       });
      
    });
    
   // Your Step validation logic
    function validateSteps(stepnumber){
        var isStepValid = true;
        // validate step 1
        if(stepnumber == 1 && control_select_combo){
          if(!$.isEmptyObject($('#combox_tabla'))){
            $('#combox_tabla').empty();       
          }         
          control_select_combo=false;     
          isStepValid=cargarTablas();
         
        }
        else if(stepnumber == 2){
          if($("#select_tabla input").length==0 ){
            isStepValid=false;
            Alerta('Advertencia','Debe seleccionar almenos una tabla para continuar','success')
          }
          else{
            var array = [];
            $('#combox_tabla_a').append($('<option>', {
                      value: '',
                      text: ''
                  }))
             $("#select_tabla input").each(function (index) 
              { 
                array.push($(this).val())
            
                $('#combox_tabla_a').append($('<option>', {
                      value: index,
                      text: $(this).val()
                  }))
                 
              })
              console.log(array)
             isStepValid=cargarFilas(array) ;
             
              
            
             
          }          
        }
        // ...  
        return isStepValid;    
    }
    
    
    $(document).ready(function() {
      // Smart Wizard
      $('#wizard_verticle').smartWizard({
        transitionEffect: 'slide'
      });

    });
        
    $(".select2_single").select2({
        placeholder: "Seleccione una tabla.",
        allowClear: true
      }); 
	
	$("#add_tabla").click(function() {
    if(!$.isEmptyObject($('#combox_tabla option:selected').text())){
      var control=true;
      $("#select_tabla input").each(function (index) 
      { 
        if ($('#combox_tabla option:selected').text()==$(this).val()){
          control=false;
        }
      }) 
      if(control){
        $('#select_tabla').append('<div class="alert alert-info alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><strong>'+$('#combox_tabla option:selected').text() +'</strong><input type="hidden" value="'+$('#combox_tabla option:selected').text() +'"></div>')
      }
      else{
        Alerta('Advertencia','Esta tabla ('+$('#combox_tabla option:selected').text()+') ya fue agregada.\nSeleccione otra tabla para continuar','success')  
      }
    }
    else{
      Alerta('Advertencia','Debe seleccionar almenos una tabla para continuar','success')
    }
	  
	});
  
 
  
  var ocultar_relacion_tabla=0;
  $('#ocultar_relacion_tabla').hide();
  var rows_select=new Object();
  $("#add_tabla_rows").click(function() {    
      var table=$('#combox_tabla_a option:selected').text();
      if(table!='')
      {
          if($("#row_tabla input:checkbox:checked").length>0)
          {
              rows_select[table]=new Object()
              $("#row_tabla input:checkbox:checked").each(function()
              { 
                rows_select[table][$(this).val()]=1
             
              }) 
              //console.log(rows_select)     
              ocultar_relacion_tabla++;          
              if(ocultar_relacion_tabla==1){     
                    $('#select_tabla_b').append($('<option>', {
                                      value: '',
                                      text: ''
                                  }))
                    $('#select_tabla_a').append($('<option>', {
                                      value: '',
                                      text: ''
                                  })) 
                    $('#select_tabla_b').append($('<option>', {
                          value: ocultar_relacion_tabla,
                          text: table
                      }))
                      
                    $('#select_tabla_a').append($('<option>', {
                        value: ocultar_relacion_tabla,
                        text: table
                    }))
                    
              }
              else{
                  $('#select_tabla_b').append($('<option>', {
                      value:  ocultar_relacion_tabla ,
                      text: table
                  }))

                  $('#select_tabla_a').append($('<option>', {
                      value:  ocultar_relacion_tabla ,
                      text: table
                  }))          

                  $('#ocultar_relacion_tabla').show();
              }   
              $('#row_tabla').empty();
              
               $('#columna_tabla_select').append('<div class="alert alert-info alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><strong>'+table+'</div>')
  
          }
          else{
            Alerta('Advertencia','Debe seleccionar almenos una columna para continuar','success')
          }
          
      }
      else{
        Alerta('Advertencia','Debe seleccionar almenos una tabla para continuar','success')
      }      
	});
	
  $("#select_tabla_a").change(function() {
       var table=$('#select_tabla_a option:selected').text();
       if(!$.isEmptyObject($('#row_tabla_select_a'))){
            $('#row_tabla_select_a').empty();       
          }  
       jQuery.each(rows_select[table], function (indice, valor) {	
            $('#row_tabla_select_a').append('<div class=""><label><input type="radio" name="caja_a" value="'+indice+'" > '+indice+'</label></div>')
       });
  });
    
  $("#select_tabla_b").change(function() {
    var table=$('#select_tabla_b option:selected').text();
       if(!$.isEmptyObject($('#row_tabla_select_b'))){
            $('#row_tabla_select_b').empty();       
          }  
       jQuery.each(rows_select[table], function (indice, valor) {	
            $('#row_tabla_select_b').append('<div class=""><label><input type="radio" name="caja_b" value="'+indice+'" > '+indice+'</label></div>')
       });
  });
  
	function cargarTablas()
	{
    var retornar=true;
		var cont=0;
		$.ajax({
				data: {id:$('#form_idConexion option:selected').val()},
				url: '{{ asset("app_dev.php/regresion/getvaluetable")}}'  ,
				dataType: 'json',
				type:  'post',
				beforeSend: function () {						
				},
				success:  function (response) {
				jQuery.each(response, function (indice, valor) {	
          if(indice==0){
            $('#combox_tabla').append($('<option>', {
                  value: '',
                  text: ''
              }))	
          }	
          else{
             $('#combox_tabla').append($('<option>', {
                  value: cont,
                  text: valor.TABLE_NAME
              }))	
              cont++;
          }			                    
           
				});
				},
				error: function (request, status, error) {
					//request.error;
          retornar=false;
          Alerta('Error','Lo lamentamos no fue posible cargar las tablas.\nValide:\n*La conexión a Internet\n*La conexión de la BD externa. ','error')   
				}, 
				async: false
		}); 
   
   return retornar;
	}
	
  var filas_global;
  function cargarFilas(array)
	{
    var retornar=true;
		var cont=0;
		$.ajax({
				data: {id:$('#form_idConexion option:selected').val(),tables:array},
				url: '{{ asset("app_dev.php/regresion/getvaluerow")}}'  ,
				dataType: 'json',
				type:  'post',
				beforeSend: function () {						
				},
				success:  function (response) {
				  filas_global=response
				},
				error: function (request, status, error) {
					//request.error;
          retornar=false;
          Alerta('Error','Lo lamentamos no fue posible cargar la informacion de la(s) tabla(s) seleccionada.\nValide:\n*La conexión a Internet\n*La conexión de la BD externa. ','error')   
				}, 
				async: false
		}); 
   
   return retornar;
	}
        	  
   </script>
{% endblock %}
