
{% block stylesheetsFormulario %}    
<!-- select2 -->
<link href='{{ asset("css2/select/select2.min.css")}}' rel="stylesheet">
 
 <style>
  .rojo{
  color: red;
  }
  .big{
    font-size: 17px;
  }
.small{
  font-style: italic;
  font-size: 11px;
}
.small2{
  font-style: italic;
  font-size: 11px;
  margin:10px;
}
.margen_4px_top{
    margin-top: 8px;  
}
.margen_4px_bot{
    margin-bottom: 8px; 
}
    
.select2-selection.select2-selection--single {
    margin-bottom: 4px;
    margin-top: 4px;  
}
 </style>
{% endblock %}
{% block bodyFormulario %}     
        {% embed "generico/ventana.html.twig" %}
                {% block tituloVentana %}{{info['formulario'].titulo}}{% endblock %} 
                {% block subTituloVentana %}{{info['formulario'].subtitulo}}{% endblock %}
                {% block bodyVentana %}  
                <div id="add-formulario-generico">
                <div id="formulario-generico">         
                  <!-- Tabs -->
                  <div id="wizard" class="form_wizard wizard_horizontal">
                 
                    <ul class="list-unstyled wizard_steps">
                      <li>
                        <a href="#step-11">
                          <span class="step_no">1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#step-22">
                          <span class="step_no">2</span>
                        </a>
                      </li>
                      <li>
                        <a href="#step-33">
                          <span class="step_no">3</span>
                        </a>
                      </li>
                      <li>
                        <a href="#step-44">
                          <span class="step_no">4</span>
                        </a>
                      </li>
                    </ul>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left '}}) }}
                    {{ form_errors(form) }}

  	
                    <div id="step-11">
                      <h2 class="StepTitle">Paso 1</h2>					 
                        <span class="section"></span> 
                        <div class="form-group">
                          {{ form_label(form.idConexion) }}
                          {{ form_errors(form.idConexion) }}
                          <div class="col-md-6 col-sm-6">
                           {{ form_widget(form.idConexion) }}
                          </div>
                        </div>                       
                    </div>
                    <div id="step-22">
                      <h2 class="StepTitle">Paso 2</h2>
                      <div class="form-group">					 
					              <label class="control-label col-md-5  col-xs-12">Seleccione las tablas a usar</label>					 
                      <div class="col-md-5 ">
                        <select id="combox_tabla" class="select2_single form-control col-xs-12 " style="width: 100%" tabindex="-1">                        
                        </select>
                      </div>
                      <div class="col-md-2 "> 					
                        <a  id="add_tabla" class="btn btn-round btn-success margen_4px_top"><i class="fa fa-plus" ></i> Agregar</a>
                      </div>      
                      </div>
                      <div class="ln_solid"></div>   
                      <div class="form-group">
                        <div class="col-xs-12"> 
                            <div  id="select_tabla"> </div>
                        </div>      
                      </div> 					
                    </div>
					
                    <div id="step-33">
                      <h2 class="StepTitle">Paso 3</h2>
                      <div class="col-xs-12">
                      <h2 class="StepTitle">Seleccione las columnas a usar:</h2>
                      </div> 
                      <div class="form-group">                                         
                        <div class="col-md-10 col-sm-10 col-xs-12">
                          <select id="combox_tabla_a" class="col-xs-12 select2_single form-control" style="width: 100%" tabindex="-1">                        
                          </select>                            
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12"> 					
                          <a  id="add_tabla_rows" class="btn btn-round btn-success margen_4px_top"><i class="fa fa-plus" ></i> Agregar</a>
                        </div> 
					    	      </div>                        
                      <div class="form-group">
                        <div class="col-xs-12">
                            <div  id="row_tabla"></div>
                        </div>      
                      </div>
                      <div class="ln_solid"></div>  
                      <div class="form-group">
                        <div class="col-xs-12">
                            <div  id="columna_tabla_select"></div>
                        </div>      
                      </div>
          					  <div id="ocultar_relacion_tabla">
						          <div class="ln_solid"></div> 
                      <div class="col-xs-12">
                      <h2 class="StepTitle">Relacione las tablas:</h2>
                      </div> 
                        <div class="form-group">                        
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <select id="select_tabla_a" class="col-xs-12 select2_single form-control" style="width: 100%" tabindex="-1">                        
                          </select>   
                           <div  id="row_tabla_select_a">
                           </div>                           
                        </div> 
                        <div class="col-md-2 col-sm-2 col-xs-12">
                          <select id="union_select" class="form-control margen_4px_bot margen_4px_top" > 
                            <option value="JOIN">unir</option>  
                            <option value="RIGHT">unir por derecha</option>   
                            <option value="LEFT">unir por izquierda</option>                        
                          </select>                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <select id="select_tabla_b" class="col-xs-12 select2_single form-control margen_4px_top" style="width: 100%" tabindex="-1">                        
                          </select> 
						              <div  id="row_tabla_select_b"> 
                          </div>  						  
                        </div> 
                        <div class="col-md-2 col-sm-2 col-xs-12"> 					
                          <a  id="add_tb_relacion_rows" class="btn btn-round btn-success margen_4px_top"><i class="fa fa-plus" ></i> Agregar</a>
                        </div>    
                      </div> 
					         <div class="ln_solid"></div>  
                      <div class="form-group">
                        <div class="col-xs-12">
                            <div  id="query_create"></div>
                        </div>      
                      </div>
					          </div>
                    </div>
                    <div id="step-44">
                      <h2 class="StepTitle">Paso 4</h2>
                        <span class="section"></span> 
						
						 <div class="form-group">                          
                            <label class="control-label col-md-5  col-xs-12">Nombre de la consulta *</label>					 
                            <div class="col-md-5 ">
                              <input type="text" id="name_consulta" name="name_consulta" class="margen_4px_bot col-xs-12" required="true">
                            </div>
                        </div>

                        <div class="form-group">  
                            <label class="control-label col-md-5  col-xs-12">¿Activo? *</label>					 
                            <div class="col-md-5 ">
                                <input type="radio" name="is_activo" value="1" checked class="margen_4px_bot"> SI 
                              <input type="radio" name="is_activo" value="0" class="margen_4px_bot"> NO                       
                            </div>
                        </div>   
						
						<div class="form-group">  
                            <label class="control-label col-md-5  col-xs-12">Descripción</label>					 
                            <div class="col-md-5 ">
                              <textarea name="descripcion" class="col-xs-12"> </textarea>                   
                            </div>
                        </div> 
						
                        <div class="form-group">
                          {{ form_label(form.TextAreaSQL) }}
                          {{ form_errors(form.TextAreaSQL) }} 
                          <div class="col-md-5 col-sm-5">
                          {{ form_widget(form.TextAreaSQL) }}
                          </div>
                        </div>  
                    </div>
                  {{ form_end(form) }}
                  <!-- End SmartWizard Content -->  
				</div>
        </div>
				</div>
               
            {% endblock %}
        {% endembed %}
{% endblock %}
{% block javascriptsFormulario %}  
 <!-- form wizard -->
 <script type="text/javascript" src='{{ asset("js/wizard/jquery.smartWizard.js")}}'></script>
 <!-- select2 -->
 <script src='{{ asset("js/select/select2.full.js")}}'></script>
   
  <script>  
     $(document).ready(function() {
      // Smart Wizard
      $('#wizard').smartWizard({          
          labelNext:'<i class="fa fa-arrow-right"></i>', // label for Next button
          labelPrevious:'<i class="fa fa-arrow-left"></i>', // label for Previous button
          labelFinish:'<i class="rojo fa fa-ban" ></i>',  // label for Finish button  
          onFinish:onFinishCallback ,
           onLeaveStep:leaveAStepCallback,
      });

      
    });
	
	function onFinishCallback() {
          if($('#name_consulta').val()!='' && $('#form_TextAreaSQL').val()!=''){
			$('form').submit();
		  }
		  else{
			Alerta('Advertencia','Todos los campos * son obligatorios.','error')
		  }
    }
    function leaveAStepCallback(obj, context){
       // alert("Leaving step " + context.fromStep + " to go to step " + context.toStep);
        return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation 
    }

    var control_select_combo=true;
    $( "#form_idConexion" ).change(function() {
      control_select_combo=true;
    });
    
     $( "#combox_tabla_a" ).change(function() {
       var table=$('#combox_tabla_a option:selected').text();
       if(!$.isEmptyObject($('#row_tabla'))){
            $('#row_tabla').empty();       
          }  
       jQuery.each(filas_global[table], function (indice, valor) {	
            $('#row_tabla').append('<div class=""><label class="big"><input type="checkbox" value="'+indice+'" > '+indice+' <a class="small btn">¿renombrar? </a>  </label> </div>')
       });
      
    });
    
   // Your Step validation logic
    function validateSteps(stepnumber){
        var isStepValid = true;
        // validate step 1
        if(stepnumber == 1 && control_select_combo){
          if(!$.isEmptyObject($('#combox_tabla'))){
              $('#combox_tabla').empty();       
          }         
          control_select_combo=false;     
          isStepValid=cargarTablas();
         
        }
        else if(stepnumber == 2){  
           if(!$.isEmptyObject($('#combox_tabla_a'))){
                $('#combox_tabla_a').empty();       
          }        
          if($("#select_tabla input").length==0 ){
            isStepValid=false;
            Alerta('Advertencia','Debe seleccionar almenos una tabla para continuar.','success')
          }
          else{
            var array = [];
            $('#combox_tabla_a').append($('<option>', {
                      value: '',
                      text: ''
                  }))
             $("#select_tabla input").each(function (index) 
              { 
                array.push($(this).val())
            
                $('#combox_tabla_a').append($('<option>', {
                      value: index,
                      text: $(this).val()
                  }))
                 
              })              
             isStepValid=cargarFilas(array) ;
          }          
        }
        else if(stepnumber == 3){ 
          var div_tabla_select=Number($('#columna_tabla_select button').length);
          var div_tabla_relacion=Number($('#query_create button').length)+1;
          
            if(div_tabla_select>0){         
             if(div_tabla_select!=div_tabla_relacion){               
                Alerta('Advertencia','Debe relacionar todas las tablas para continuar.','success')
                isStepValid=false;
             }           
             //run     
             //Select
             //Cuado el value sea diferente de 1, indica que el value es la columna y clave renombracion
             var query = {SELECT:[], FROM:[]}; 
             var tabla='';
             if(div_tabla_select==1){
               tabla=$('#combox_tabla_a option:selected').text();
               query.FROM=tabla;
                jQuery.each(rows_select[tabla], function (indice, valor) {
                  if(indice.toString().split(" ").length>1) {
                          indice='`'+indice+'`';
                        }                        
                  if(valor.toString().split(" ").length>1) {
                    valor='`'+valor+'`';
                  }  	
                  if(valor==1){
                    query.SELECT.push(tabla+'.'+indice)
                  }else{
                    query.SELECT.push(tabla+'.'+valor+' AS '+indice)
                  }                  
                });
             }
             else{
                
                query = {SELECT:[], FROM:[], INNER:[]};  
                //From              
                 $("#columna_tabla_select input:radio[name=tab_principal]:checked").each(function (index) 
                 {  
                   query.FROM=$(this).val(); 
                   
                 }) 
                 //Select
                 $("#columna_tabla_select input[type='hidden']").each(function (index) 
                 {                    
                      tabla=$(this).val();  
                      jQuery.each(rows_select[tabla], function (indice, valor) {	
                        if(indice.toString().split(" ").length>1) {
                          indice='`'+indice+'`';
                        }                        
                        if(valor.toString().split(" ").length>1) {
                          valor='`'+valor+'`';
                        }                      
                        if(valor==1){
                          query.SELECT.push(tabla+'.'+indice)
                        }else{
                          query.SELECT.push(tabla+'.'+valor+' AS '+indice)
                        }                  
                      });
                  })                 
               //inner join
                var inner=[];
                var a,b,c,d;
                $("#query_create input[type='hidden']").each(function (index) 
                { 
                  
                  console.log('From:')
                  inner=$(this).val().split("-"); 
                  console.log(inner)
                  if(inner.length>0){
                    if(inner[0].split(" ").length>1) {
                      a='"'+inner[0]+'"';
                    }
                    else{
                      a=inner[0];
                    }
                    
                    if(inner[1].split(" ").length>1) {
                      b='"'+inner[1]+'"';
                    }
                    else{
                      b=inner[1];
                    }
                    console.log(inner[2].split(" ").length)
                    if(inner[2].split(" ").length>1) {
                      c='"'+inner[2]+'"';
                    }
                    else{
                      c=inner[2];
                    }
                    
                    if(inner[3].split(" ").length>1) {
                      d='"'+inner[3]+'"';
                    }
                    else{
                      d=inner[3];
                    }
                 
                    query.INNER.push(inner[4]+' '+b+' ON '+a+'.'+c+'='+b+'.'+d) 
                    //if(index==0){
                      //query.FROM=inner[1];                        
                    //}  
                                     
                  }
                  
                }) 
               console.log(query)
             }             
             var text_query='';
            
              jQuery.each(query, function (indice, valor) {	                  
                  if(indice=='INNER'){
                    jQuery.each(query.INNER, function (indice2, valor2) {	
                      if(valor2.toString().search("RIGHT")>=0){ 
                        text_query+=valor2.toString().replace("RIGHT", "RIGHT JOIN");                     
                      }
                      else if(valor2.toString().search("LEFT")>=0){
                        text_query+=valor2.toString().replace("LEFT", "LEFT JOIN");                      
                      }
                      else{
                        text_query+=indice.toString()+'\n'+valor2.toString()+'\n';
                      }
                    })                    
                  }                  
                  else{
                    text_query+=indice.toString()+'\n'+valor.toString()+'\n';
                  }      
              });
            $('#form_TextAreaSQL').val(text_query)
             //Cambiamos text del boton y habiltamos              
            $( ".actionBar a" ).first().text('');
            $( ".actionBar a" ).first().append('<i class="fa fa-rocket" ></i> Generar');           
     
            }
            else{
              Alerta('Advertencia','Debe seleccionar almenos una tabla y columna, para continuar.','success')
              isStepValid=false;
        }                    
      }
                  
       
        // ...  
        return isStepValid;    
    }
    
    
    $(document).ready(function() {
      // Smart Wizard
      $('#wizard_verticle').smartWizard({
        transitionEffect: 'slide'
      });

    });
        
    $(".select2_single").select2({
        placeholder: "Seleccione una tabla.",
        allowClear: true
      }); 
	

var select_old;
 $( "#row_tabla" ).on( "click", "a", function() { 
      select_old=$(this).parent().children('input').val();
      $(this).parent().html('<input type="text" value="'+select_old+'">  <button class="btn btn-round btn-success" type="button"><i class="fa fa-floppy-o" ></i> Renombrar</button>');
 });
 
  $( "#row_tabla" ).on( "click", "button", function() { 
      
      var val=$(this).parent().children('input').val();
      $(this).parent().html('<input type="checkbox" value="'+select_old+'" > '+val+' <a class="small btn">¿renombrar? </a>')
     
 });



  
	$("#add_tabla").click(function() {
    if(!$.isEmptyObject($('#combox_tabla option:selected').text())){
      var control=true;
      $("#select_tabla input").each(function (index) 
      { 
        if ($('#combox_tabla option:selected').text()==$(this).val()){
          control=false;
          return true;
        }
      }) 
      if(control){
        $('#select_tabla').append('<div class="alert alert-info alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><strong>'+$('#combox_tabla option:selected').text() +'</strong><input type="hidden" value="'+$('#combox_tabla option:selected').text() +'"></div>')
      }
      else{
        Alerta('Advertencia','Esta tabla ('+$('#combox_tabla option:selected').text()+') ya fue agregada.\nSeleccione otra tabla para continuar.','success')  
      }
    }
    else{
      Alerta('Advertencia','Debe seleccionar almenos una tabla para continuar.','success')
    }
	  
	});
  
  $("#add_tb_relacion_rows").click(function() {    
      var table=$('#select_tabla_a option:selected').text(); 
      var table_b=$('#select_tabla_b option:selected').text();
      var val_select=table+'-'+table_b;   
      var val_select_rev=table_b+'-'+table;   
      var on_inner=$("#row_tabla_select_a input:radio:checked").val()+'-'+$("#row_tabla_select_b input:radio:checked").val(); 
      console.log(on_inner)
      var control=true;    
      $("#query_create input").each(function (index) 
      {             
       
          if($(this).val()==val_select || $(this).val()==val_select_rev )
          {            
            control=false;
            return true;
          }
      })

        if(control)
        {
            if(table!='' && table_b!='')
            {
              if(table!=table_b)
              {     
                  if($("#row_tabla_select_b input:radio:checked").length>0 && $("#row_tabla_select_a input:radio:checked").length>0)
                  {
                      val_select=val_select+'-'+on_inner+'-'+$('#union_select option:selected').val();
                       console.log(val_select)
                      $('#query_create').append('<div class="alert alert-info alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><strong> '+table+'</strong> relacionada con <strong>'+table_b+'</strong><input type="hidden" value="'+val_select +'"></div>')

                  }
                  else{
                          Alerta('Advertencia','Debe seleccionar una columna en ambas tabla para continuar.','success')
                    }
              }
              else{
                Alerta('Advertencia','La misma tabla no se puede relacionar entre sí.\nRelacione dos tablas diferentes, para continuar. ','success')
              } 
            }
            else{
              Alerta('Advertencia','Debe seleccionar ambas tabla para continuar.','success')
            }
        }
        else{
          isStepValid=false;
          Alerta('Advertencia','Esta relación ya fue seleccionada.\nSeleccione otra relación.','success')
        }
    
      
      
  });   
 
  
  var ocultar_relacion_tabla=0;
  $('#ocultar_relacion_tabla').hide();
  var rows_select=new Object();
  $("#add_tabla_rows").click(function() {
    
    var table=$('#combox_tabla_a option:selected').text();    
    var control=true;
      $("#columna_tabla_select input").each(function (index) 
      { 
        if (table==$(this).val()){
          control=false;
          return true;
        }
      }) 
      if(control){   
        
        if(table!='')
        {
            if($("#row_tabla input:checkbox:checked").length>0)
            {
                rows_select[table]=new Object()
                $("#row_tabla input:checkbox:checked").each(function()
                { 
                  var padre=$(this).parent().text().split("¿"); 
                  padre=$.trim(padre[0]);                
                  if(padre==$(this).val()){
                    rows_select[table][$(this).val()]=1;
                  }
                  else{
                    rows_select[table][padre]=$(this).val();
                  }
                  
              
                }) 
                 
               var exists = false;                   
                $('#select_tabla_b option').each(function(){                 
                  if ($(this).text()== table) {
                    exists = true;
                    return true;
                  }
                });                
                if(exists==false)
                {                 
                    ocultar_relacion_tabla++;          
                    if(ocultar_relacion_tabla==1){     
                          $('#select_tabla_b').append($('<option>', {
                                            value: '',
                                            text: ''
                                        }))
                          $('#select_tabla_a').append($('<option>', {
                                            value: '',
                                            text: ''
                                        })) 
                          $('#select_tabla_b').append($('<option>', {
                                value: ocultar_relacion_tabla,
                                text: table
                            }))
                            
                          $('#select_tabla_a').append($('<option>', {
                              value: ocultar_relacion_tabla,
                              text: table
                          }))
                          
                    }
                    else{
                        $('#select_tabla_b').append($('<option>', {
                            value:  ocultar_relacion_tabla ,
                            text: table
                        }))

                        $('#select_tabla_a').append($('<option>', {
                            value:  ocultar_relacion_tabla ,
                            text: table
                        }))          

                        $('#ocultar_relacion_tabla').show();
                    }
                }                 
                $('#row_tabla').empty();                
                $('#columna_tabla_select').append('<div class="alert alert-info alert-dismissible fade in" role="alert"><strong>'+table+'</strong><small class="small2">¿tabla principal?</small><input type="radio" name="tab_principal" value="'+table+'" checked="checked"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><input type="hidden" value="'+table +'"</div>')
      
            }
            else{
              Alerta('Advertencia','Debe seleccionar almenos una columna para continuar.','success')
            }
            
        }
        else{
          Alerta('Advertencia','Debe seleccionar almenos una tabla para continuar.','success')
        }   
         }
      else{
        Alerta('Advertencia','Esta tabla ('+table+') ya fue agregada.\nSeleccione otra tabla para continuar.','success')  
      }        
	});
	
  $("#select_tabla_a").change(function() {
       var table=$('#select_tabla_a option:selected').text();
       if(!$.isEmptyObject($('#row_tabla_select_a'))){
            $('#row_tabla_select_a').empty();       
          }  
       jQuery.each(rows_select[table], function (indice, valor) {	
            $('#row_tabla_select_a').append('<div class=""><label><input type="radio" name="caja_a" value="'+indice+'" > '+indice+'</label></div>')
       });
  });
    
  $("#select_tabla_b").change(function() {
    var table=$('#select_tabla_b option:selected').text();
       if(!$.isEmptyObject($('#row_tabla_select_b'))){
            $('#row_tabla_select_b').empty();       
          }  
       jQuery.each(rows_select[table], function (indice, valor) {	
            $('#row_tabla_select_b').append('<div class=""><label><input type="radio" name="caja_b" value="'+indice+'" > '+indice+'</label></div>')
       });
  });
  
	function cargarTablas()
	{
    var retornar=true;
		var cont=0;
		$.ajax({
				data: {id:$('#form_idConexion option:selected').val()},
				//url: '{{ asset("app_dev.php/regresion/getvaluetable")}}'  ,
        url: '{{ asset("/regresion/getvaluetable")}}', 
				dataType: 'json',
				type:  'post',
				beforeSend: function () {	  
          NProgress.set(0.4);           
          NProgress.start();	          
				},
				success:  function (response) {
				jQuery.each(response, function (indice, valor) { 
                    	
          if(indice==0){
            $('#combox_tabla').append($('<option>', {
                  value: '',
                  text: ''
              }))	
            $('#combox_tabla').append($('<option>', {
                value: cont,
                text: valor.TABLE_NAME
            }))	
          }	
          else{
             $('#combox_tabla').append($('<option>', {
                  value: cont,
                  text: valor.TABLE_NAME
              }))	
          }
          cont++;			                    
           
				});
				},
				error: function (request, status, error) {
					//request.error;
          retornar=false;
          Alerta('Error','Lo lamentamos no fue posible cargar las tablas.\nValide:\n*La conexión a Internet\n*La conexión de la BD externa. ','error')   
          NProgress.done();
				}, 
				async: false
		}); 
   NProgress.done();
   return retornar;
	}
	
  var filas_global;
  function cargarFilas(array)
	{    
    var retornar=true;
		var cont=0;
		$.ajax({
				data: {id:$('#form_idConexion option:selected').val(),tables:array},
				//url: '{{ asset("app_dev.php/regresion/getvaluerow")}}'  ,
       	url: '{{ asset("/regresion/getvaluerow")}}'  ,
				dataType: 'json',
				type:  'post',
				beforeSend: function () {		
           NProgress.set(0.4);
           NProgress.start();		
           	
				},
				success:  function (response) {
				  filas_global=response
				},
				error: function (request, status, error) {
					//request.error;
          retornar=false;
          Alerta('Error','Lo lamentamos no fue posible cargar la informacion de la(s) tabla(s) seleccionada.\nValide:\n*La conexión a Internet\n*La conexión de la BD externa. ','error')  
          NProgress.done(); 
				}, 
				async: false
		}); 
   NProgress.done();   
   return retornar;
	}
     	  
   </script>
{% endblock %}
