
{% block stylesheetsFormulario %}   
  <link href='{{ asset("css2/icheck/flat/green.css")}}'  rel="stylesheet">
   <!-- select2 -->
  <link href='{{ asset("css2/select/select2.min.css")}}' rel="stylesheet">
  <!-- datepicker -->
  <link href='{{ asset("css2/datepicker/iconos.min.css")}}' rel="stylesheet">
{% endblock %}
{% block bodyFormulario %}     
        {% embed "generico/ventana.html.twig" %}
                {% block tituloVentana %}Ventana formulario{% endblock %} 
                {% block subTituloVentana %}Sutitulo{% endblock %}
                {% block bodyVentana %}  
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left '}}) }}
                
                {% for child in form.children|keys %}
                    <div class="form-group">
                        {% if 'token' not in form_label(attribute(form.children,child)) %}
                            {{form_label(attribute(form.children,child)) }}
                        {% endif %}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{form_widget(attribute(form.children,child)) }}
                        </div>
                    </div>                           
                {% endfor %} 
                    <div class="ln_solid"></div>
                    <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="reset" id="form_cancelar" name="form[cancelar]" class="btn btn-primary">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                    </div>                     
                {{ form_end(form) }}
            {% endblock %}
        {% endembed %}
{% endblock %}
{% block javascriptsFormulario %}  
     <!-- select2 -->
    <script src='{{ asset("js/select/select2.full.js")}}'></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src='{{ asset("js/moment/moment.min.js")}}'></script>
    <script type="text/javascript" src='{{ asset("js/datepicker/daterangepicker.js")}}'></script> 
    <script type="text/javascript">
        $(document).ready(function() {
           // select2 
            $(".select2_single").select2({
                placeholder: "Seleccione una opción",
                allowClear: true
            });
            $(".select2_group").select2({});
            $(".select2_multiple").select2({
                maximumSelectionLength: 4,
                placeholder: "Seleccione maximo 4 opciones",
                allowClear: true
            }); 
          // fin select2
          
          //daterangepicker
            $('.date-picker-control').daterangepicker({   
               locale: {
                   format: 'MM/DD/YYYY',                                  
                    daysOfWeek: [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mi",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    monthNames: [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octube",
                        "Noviembre",
                        "Diciembre"
                    ],
                    firstDay: 1
                },  
            singleDatePicker: true,
            calender_style: "picker_4"
            }, function(start, end, label) {               
            console.log(start.toISOString(), end.toISOString(), label);
            });
        });
        <!-- /daterangepicker -->
        
        
   </script>
{% endblock %}
