
{% block stylesheetsGrafica %}    
<style>
.margen{
    margin-top: 2px;
    margin-bottom: 8px;
}

#graficar {height:350px; width:98%;overflow-y: hidden;overflow-x: auto;}
</style>
{% endblock %}
{% block bodyGrafica %} 
     {% embed "generico/ventana.html.twig" %}                
                {% block tituloVentana %}{{info['grafica'].titulo}}{% endblock %} 
                {% block subTituloVentana %}{{info['grafica'].subtitulo}}{% endblock %}
                 {% block bodyLink %}                  
                 {% endblock %}                           
                {% block bodyVentana %}  
					<div class="row">
                        <div class="col-md-6">
                            <p>Seleccione valores para el <strong>eje horizontal</strong></p>
                                <select id='grafica-x' class="margen">
                                    {% for i in infoTabla['columnas'] %}
                                        <option value="{{ loop.index0 }}">{{i}}</option>               
                                    {% endfor %}
                                </select> 
                            <p>Seleccione valores para el <strong>eje vertical</strong></p>
                            <select id='grafica-y' class="margen">
                                {% for i in infoTabla['columnas'] %}
                                    <option value="{{ loop.index0 }}">{{i}}</option>               
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <p>Seleccione tipo de regresión <strong>a calcular</strong></p>
                            <select id='tipo-regresion' class="margen">
                                    <option value='lineal'>Regresión Lineal</option> 
                                    <option value='cuadrada'>Regresión Cuadratica</option> 
                            </select> 
                            <p>Digite valor <strong>a predecir</strong></p>
                            <input id="valorFuturo" placeholder="1.5">
                            <button  id="calRegresion" class="btn btn-success">Calcular</button>
                        </div>
                     </div>   
                     
                        <div id='resultado'></div>
                        <div class="ln_solid"></div>                
                        <div id="tap-grafica" >                              
                            <div id="graficar"></div>
                        </div>
                   
               {% endblock %}
        {% endembed %}          
{% endblock %}
{% block javascriptsGrafica %}  
<!-- echart -->
<script src='{{asset("js/echart/echarts-all.js")}}'></script>
<script src='{{asset("js/echart/green.js")}}'></script>
  
<script type="text/javascript">

var dataAll = {        
{% for i in 0..infoTabla['lengthFilas']   %}   
"{{i}}" :{        
            {% for j in 0..infoTabla['lengthColumnas']  %}   
                "{{j}}": "{{infoTabla['filas'][i][j]}}",
            {% endfor %}      
        },    
{% endfor %}     
};

$("#grafica-y").change(function() {
        b_lineal=0;
        a_lineal=0;
        c_cuadratica=0;
        $('#resultado').html('');
        $("#valorFuturo").removeAttr("style");
}); 

$("#grafica-x").change(function() {
        b_lineal=0;
        a_lineal=0;
        c_cuadratica=0;
        $('#resultado').html('');
        $("#valorFuturo").removeAttr("style");
}); 

$("#tipo-regresion").change(function() {
        b_lineal=0;
        a_lineal=0;
        c_cuadratica=0;
        $('#resultado').html('');
        $("#valorFuturo").removeAttr("style");
});




$("#calRegresion").click(function() {    
        var pm=$('#valorFuturo').val();        
        if($.isNumeric(pm)){ 
            var x=true;
            if(Number(b_lineal+a_lineal)==0){
                 x=cargarGrafica(pm);
            }              
            if(x!=false)
            {
                
                if($('#tipo-regresion').val()=='lineal')
                {
                  x=a_lineal+b_lineal*pm;   
                }  
                else{
                    x=a_lineal+b_lineal*pm+c_cuadratica*Math.pow(pm,2);
                }   
                 
                x=x.toFixed(2);               
                $("#valorFuturo").removeAttr("style");
                $('#resultado').append('<p><font color="blue"><strong>Predición:</strong> '+x+'</font></p>');
                Alerta('Resultado:','Predición: '+x,'info') 
            }
        }
        else{
              $('#valorFuturo').css("border", "1px solid red");
              Alerta('Error: Valor a predecir','Digite solo valores numéricos.\nSeleccione otro valor para continuar.','error');
        }
        
}); 
  
function cargarGrafica(pm)
{   
    var xx=$("#grafica-x").val();
    var yy=$("#grafica-y").val();
    var control2=true;
    var xarray=[];
    var yarray=[];
    var xy=[];
   
    for (i=0;i<{{infoTabla['lengthFilas']+1}};i++)
    {
        var n=dataAll[i][xx];
        xarray.push(n);
        
        var n2=dataAll[i][yy]; 
        yarray.push(n2); 
        
        xy.push([n,n2]);  
        if(n==0){
            n++;
        }
        n=n/n;               
        if(n2==0){
            n2++;
        }
        n2=n2/n2;
       
        if(!Number.isInteger(n)){    
            control2=false;
            Alerta('Error','En el eje horizontal, solo puede contener valores numéricos.\nSeleccione otro valor para continuar.','error');
            break;
        }
        if( !Number.isInteger(n2) ){
                control2=false;
                Alerta('Error','En el eje vertical, solo puede contener valores numéricos.\nSeleccione otro valor para continuar.','error');
                break;
        }
    }   
    if(control2)
    {     
        
        if($('#tipo-regresion').val()=='lineal')
        {
           regresionLineal(xarray,yarray,pm,xy);
        }  
        else{
            regresionCuadratica(xarray,yarray,pm,xy);
        }           
        return true;
    }
    else {
        return false;
    }
}
    
var b_lineal=0;
var a_lineal=0;
function regresionLineal(xarray,yarray,pm,grafica_xy)
{   
    var x2=0;
    var y=0;
    var x=0;
    var xy=0;
    var y2=0;  
    var n=xarray.length;
    for(var i=0;i<n;i++){
        //Tabla de datos
        //console.log(xarray[i]+' '+yarray[i]);
        //Calculo de terminos
        x2 += parseFloat(xarray[i])*parseFloat(xarray[i]);
        y2 += parseFloat(yarray[i])*parseFloat(yarray[i]);  
        y  += parseFloat(yarray[i]);     
        x  += parseFloat(xarray[i]);
        xy += parseFloat(xarray[i])*parseFloat(yarray[i]);
    } 
    //Coeficiente parcial de regresion
    var b=(n*xy-x*y)/(n*x2-x*x); 
    b_lineal=b; 
    //Calculo del intercepto
    var a=(y-b*x)/n;
    a_lineal=a;
 
    //Coeficiente de correlacion
    //R
    var r2_1=n*xy-x*y;
    var r2_2=Math.sqrt(n*x2-Math.pow(x,2))*Math.sqrt(n*y2-Math.pow(y,2));
    var r=r2_1/r2_2;   
     //Recta tendencial
    //y=a+bx
    var title_grafica='y= '+a.toFixed(2)+'+'+b.toFixed(2)+'x';  
    var title_grafica_1='Regresión Lineal, ';
    var vf=a+b*pm;
    console.log('Real lineal '+vf);
    //lpuntos de la linea tendencial 
        var y_grafica=[];        
        var x_grafica=[];  
        var min=Math.min.apply(null, xarray);     
        var max=Math.max.apply(null, xarray);         
        
        for(var i=min;i<=max;i++){  
            //y=a+bx
            y=a+b*parseFloat(i);
            y_grafica.push(y.toFixed(2)); 
            x_grafica.push(i); 
            console.log(i+' , '+y)            
        }   
             
      //Grafica  
      lineal(title_grafica_1,title_grafica,y_grafica,grafica_xy,x_grafica.sort(function(a, b){return a>b}),r);      
}

var c_cuadratica=0;
function regresionCuadratica(x_array,y_array,pm,grafica_xy)
{
    var x=0;
    var y=0;
    var x2=0;
    var x3=0;
    var x4=0;
    var xy=0;
    var x2y=0;
    var y2=0;
    var n=y_array.length;     
    
    
    for(var i=0;i<n;i++){
        //Tabla de datos
        //console.log(x_array[i]+"   "+y_array[i]);
        //Calculo de terminos
        x+=parseFloat(x_array[i]);
        y+=parseFloat(y_array[i]);
        x2+=Math.pow(x_array[i],2);
        x3+=Math.pow(x_array[i],3);
        x4+=Math.pow(x_array[i],4);
        xy+=parseFloat(x_array[i])*parseFloat(y_array[i]);
        x2y+=Math.pow(x_array[i],2)*parseFloat(y_array[i]);
        y2+=Math.pow(y_array[i],2);
            
    }
  
    var b1=(xy-(x*y/n))*(x4-(Math.pow(x2,2)/n))-(x2y-(x2*y/n))*(x3-(x2*x/n));
    var b2=x3-(x2*x/n);
    var b3=(x2-(Math.pow(x,2)/n))*(x4-(Math.pow(x2,2)/n))-Math.pow(b2,2); 
    var b=b1/b3; 
    b_lineal=b;
   
    var c1=(x2-(Math.pow(x,2)/n))*(x2y-(x2*y/n))-(x3-(x2*x/n))*(xy-(x*y/n));
    var c=c1/b3;
    c_cuadratica=c;
    
    var a1=y-b*x-c*x2;
    var a=a1/n;
    a_lineal=a;
    
    //Coeficiente de correlacion
    //R
    var r2_1=n*xy-x*y;
    var r2_2=Math.sqrt(n*x2-Math.pow(x,2))*Math.sqrt(n*y2-Math.pow(y,2));
    var r=r2_1/r2_2;   
     //Parabola tendencial
    //y=a+bx+c(x2)
    var title_grafica='y= '+a.toFixed(2)+'+'+b.toFixed(2)+'x+'+c.toFixed(2)+'x^2';
    var title_grafica_1='Regresión Cuadratica, ';
    var vf=a+b*pm+c*Math.pow(pm,2);
    console.log('Real cuadratica '+vf);
    //lpuntos de la linea tendencial 
        var y_grafica=[];        
        var x_grafica=[]; 
        var min=Math.min.apply(null, x_array);  
        var max=Math.max.apply(null, x_array);  
             
        for(var i=min;i<=max;i++){ 
           //y=a+bx+c(x2)         
            y=a+b*i+c*Math.pow(i,2);                        
            y_grafica.push(y.toFixed(2));   
            x_grafica.push(i);           
            console.log(i+' , '+y)
        }   
             
      //Grafica  
      lineal(title_grafica_1,title_grafica,y_grafica,grafica_xy,x_grafica.sort(function(a, b){return a>b}),r);      
    
    }
    
function lineal(title_grafica_1,title_grafica,y_grafica,xy,xarray,r)
{
    Alerta('Información','y= f(x), donde x es el valor a predecir.\n\nr => Indica el valor de ajuste de la linea tendencial.\n\nr => Entre mas se acerque al 100%, mejor sera la predición.\n\nr => Si su valor es negativo, indica que la tedencia es DECRECIENTE.\n\nNota:\nPara restablecer, cambie la selección de los ejes o el tipo de regresión.','dark')   
    var myChart = echarts.init(document.getElementById('graficar'));
    var option = {
            title : {
                    text: title_grafica_1+'r: '+Math.round(r*100)+'%', 
                    subtext: title_grafica
                },
                tooltip : {
                    trigger: 'axis'
                },
            
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: false},
                        dataView : {show: false, readOnly: false},
                        restore : {
                            show : true,
                            title : 'Refrescar'
                        },
                        saveAsImage : {
                            show : true,
                            title : 'Descargar',
                            type : 'png',
                            lang : ['Click para empezar la descarga.']
                        
                        }
                    }
                
                },
            
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : true,
                        data : function (){                            
                            return xarray;
                        }()
                    },
                    {
                        type : 'value',
                        scale : true,
                        splitNumber: 29,
                        axisLabel: {show:false},
                        splitLine: {show:false}
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    },
                    {
                        type : 'value'
                    }
                ],
                animation: true,
                series : [
                    {
                        name:'punto',
                        type:'scatter',
                        tooltip : {
                            trigger: 'item',
                            formatter : function (params) {
                                return  params.seriesName + ' : ' 
                                    + params.value[0] + ', ' 
                                    + params.value[1]; 
                            }
                        },
                    
                        symbol: 'circle',
                    
                        data: (function () {                                                                       
                            return xy;
                        })()
                    },
                    {
                        name:title_grafica,
                        type:'line',                     
                        data:function (){                         
                            return y_grafica;
                        }()
                    }
                ]
            };
    myChart.setOption(option);
}
            
 //lineal();       

</script>
{% endblock %}
