
{% block stylesheetsGrafica %}    
{% endblock %}
{% block bodyGrafica %} 
     {% embed "generico/ventana.html.twig" %}                
                {% block tituloVentana %}Ventana formulario{% endblock %} 
                {% block subTituloVentana %}Sutitulo{% endblock %}
                 {% block bodyLink %}
                    <li><a class="fa fa-line-chart" id="LineaLink" onclick="Linea()"> Grafica, Linea</a></li>                    
                    <li><a class="fa fa-area-chart" id="AreaLink" onclick="Area()"> Grafica, Area</a></li>                    
                    <li><a class="fa fa-pie-chart" id="DonutLink" onclick="Donut()"> Grafica, Donut</a></li>
                 {% endblock %}                           
                {% block bodyVentana %}  
                  <div id="Barra" ></div>                
                  <div id="Linea" ></div>
                  <div id="Area" ></div>                 
                  <div id="Donut" ></div>
               {% endblock %}
        {% endembed %}          
{% endblock %}
{% block javascriptsGrafica %}  
   <!-- moris js -->  
  <script src='{{ asset("js/moris/raphael-min.js")}}'></script>
  <script src='{{ asset("js/moris/morris.min.js")}}'></script>
  
  <script type="text/javascript">
  var datax=[
       {% for i in 0..20 %}
            { 
                label: '{{grafica['x'][i]}}'
                ,valor: {{grafica['y'][i]}} 
                ,value: {{grafica['y'][i]}} 
                
            },
        {% endfor %} 
  ];
 
  function Linea()
  {
     $('#LineaLink').removeAttr('onclick');
      Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'Linea',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: datax,
            // The name of the data record attribute that contains x-values.
            xkey: 'label',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['valor'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['valor']
            
            
            });
  }
  
  function Area()
  {
      $('#AreaLink').removeAttr('onclick');
      Morris.Area({
            // ID of the element in which to draw the chart.
            element: 'Area',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: datax,
            // The name of the data record attribute that contains x-values.
            xkey: 'label',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['valor'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['valor']
            });
  }
  
  function Barra()
  {
      Morris.Bar({
            // ID of the element in which to draw the chart.
            element: 'Barra',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: datax,
            // The name of the data record attribute that contains x-values.
            xkey: 'label',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['valor'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['valor']
            });
  }
  
  function Donut()
  {
      $('#DonutLink').removeAttr('onclick');
      Morris.Donut({
            // ID of the element in which to draw the chart.
            element: 'Donut',
            data: datax,                    
            formatter: function (y) {
                return y + "%"
            }
      });
  }
      // Linea();
        //Area();
        Barra();
       // Donut();
  </script>
{% endblock %}
