
{% block stylesheetsGrafica %}    
<style>
.margen{
    margin-top: 2px;
    margin-bottom: 8px;
}
</style>
{% endblock %}
{% block bodyGrafica %} 
     {% embed "generico/ventana.html.twig" %}                
                {% block tituloVentana %}{{info['grafica'].titulo}}{% endblock %} 
                {% block subTituloVentana %}{{info['grafica'].subtitulo}}{% endblock %}
                 {% block bodyLink %}                  
                 {% endblock %}                           
                {% block bodyVentana %}  
					<div class="row">
                        <div class="col-md-6">
                            <p>Seleccione valores para el <strong>eje horizontal</strong></p>
                                <select id='grafica-x' class="margen">
                                    {% for i in infoTabla['columnas'] %}
                                        <option value="{{ loop.index0 }}">{{i}}</option>               
                                    {% endfor %}
                                </select> 
                            <p>Seleccione valores para el <strong>eje vertical</strong></p>
                            <select id='grafica-y' class="margen">
                                {% for i in infoTabla['columnas'] %}
                                    <option value="{{ loop.index0 }}">{{i}}</option>               
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <p>Seleccione tipo de regresión <strong>a calcular</strong></p>
                            <select id='grafica-serie' class="margen">
                                    <option value='lineal'>Regresión Lineal</option> 
                                    <option value='cuadrada'>Regresión Cuadratica</option> 
                            </select> 
                            <p>Digite valor <strong>a predecir</strong></p>
                            <input type="number" name="valorFuturo">
                            <button  id="addSerie" class="btn btn-success">Calcular</button>
                        </div>
                     </div>   
                        <div class="ln_solid"></div>                
                        <div id="tap-grafica" >                              
                            <div id="graficar" style="height:350px; width:98%;"></div>
                        </div>
                   
               {% endblock %}
        {% endembed %}          
{% endblock %}
{% block javascriptsGrafica %}  
<!-- echart -->
<script src='{{asset("js/echart/echarts-all.js")}}'></script>
<script src='{{asset("js/echart/green.js")}}'></script>
  
<script type="text/javascript">

var dataAll = {        
{% for i in 0..infoTabla['lengthFilas']   %}   
"{{i}}" :{        
            {% for j in 0..infoTabla['lengthColumnas']  %}   
                "{{j}}": "{{infoTabla['filas'][i][j]}}",
            {% endfor %}      
        },    
{% endfor %}     
};

$("#grafica-x").change(function() {
    cargarGrafica(); 
});

$("#grafica-y").change(function() {
    cargarGrafica();
}); 
  
function cargarGrafica()
{   
    var xx=$("#grafica-x").val();
    var yy=$("#grafica-y").val();
    var control2=true;
    var xarray=[];
    var yarray=[];
    
    for (i=0;i<{{infoTabla['lengthFilas']}};i++)
    {
        var n=dataAll[i][xx];
        xarray.push(n);
        if(n==0){
            n++;
        }
        n=n/n;
        var n2=dataAll[i][yy]; 
        yarray.push(n2);           
        if(n2==0){
            n2++;
        }
        n2=n2/n2;
       
        if(!Number.isInteger(n)){    
            control2=false;
            Alerta('Error','En el eje horizontal, solo puede contener valores numéricos.\nSeleccione otro valor para continuar.','error');
            break;
        }
        if( !Number.isInteger(n2) ){
                control2=false;
                Alerta('Error','En el eje vertical, solo puede contener valores numéricos.\nSeleccione otro valor para continuar.','error');
                break;
        }
        
        
        
        
    }   
    if(control2)
    {           
        regresionLineal(xarray,yarray,100);
    }
}
    

function regresionLineal(xarray,yarray,pm)
{
    //var xarray=[1, 2, 3, 4, 5 ];	//Dias
    //var yarray=[5, 5, 5, 6.8, 9]; //Porcentaje de ejecucion
    var pm=100; //Valor futuro
    var x2=0;
    var y=0;
    var x=0;
    var xy=0;
    var cantidad=xarray.length;
    for(var i=0;i<cantidad;i++){
        //Tabla de datos
        console.log(xarray[i]+' '+yarray[i]);
        //Calculo de terminos
        x2 += xarray[i]*xarray[i];
        y  += yarray[i];
        x  += xarray[i];
        xy += xarray[i]*yarray[i];
    }
    //Coeficiente parcial de regresion
    var b=(cantidad*xy-x*y)/(cantidad*x2-x*x);
    //Calculo del intercepto
    var a=(y-b*x)/cantidad;
    //Recta tendencial
    //y=a+bx
    console.log('y='+a.toFixed(2)+'+'+b.toFixed(2)+'x');
    //Proyeccion en dias para un 100% de la ejecucion:
    if (b!=0){
            dias_proyectados=(pm-a)/b;
    }
    else{
        dias_proyectados=999999999; //Infinitos
    }
    dp=dias_proyectados.toFixed(2);
    console.log(dp);
    if(dp>=999999999){
         Alerta('Error','Lo sentimos no es posible usar Regresión Lineal.\nEl valor de la predicción es un número gigante.\nRecomendaciones:\n* Cambie valor a predecir.\n* Seleccione otro tipo de regresión..\n* Revise la información de los ejes,que sea coherente.','error');
    }
    else{
        alert('bien');
    }
   
  
    
}

    
function lineal()
{
    var myChart = echarts.init(document.getElementById('graficar'));
    var option = {
            title : {
                    text: 'Regresión Lineal',
                    subtext: 'y=3.22+0.98x35'
                },
                tooltip : {
                    trigger: 'axis'
                },
            
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: false},
                        dataView : {show: false, readOnly: false},
                        restore : {
                            show : true,
                            title : 'Refrescar'
                        },
                        saveAsImage : {
                            show : true,
                            title : 'Descargar',
                            type : 'png',
                            lang : ['Click para empezar la descarga.']
                        
                        }
                    }
                
                },
            
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : true,
                        data : function (){
                            var list = [];
                            for (var i = 0; i <6; i++) {
                                list.push( i);
                            }
                            return list;
                        }()
                    },
                    {
                        type : 'value',
                        scale : true,
                        splitNumber: 29,
                        axisLabel: {show:false},
                        splitLine: {show:false}
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    },
                    {
                        type : 'value'
                    }
                ],
                animation: true,
                series : [
                    {
                        name:'punto',
                        type:'scatter',
                        tooltip : {
                            trigger: 'item',
                            formatter : function (params) {
                                return  params.seriesName + ' : ' 
                                    + params.value[0] + ', ' 
                                    + params.value[1]; 
                            }
                        },
                    
                        symbol: 'circle',
                    
                        data: (function () {
                            var d =d =[[1,5], [ 2,5], [ 3,5], [ 4,6.8], [ 5,9]];
                            var len = 200;
                            var value;
                    
                            return d;
                        })()
                    },
                    {
                        name:'y=3.22+0.98x35',
                        type:'line',
                        tooltip : {
                            trigger: 'item',
                            formatter : function (params) {
                                return  params.seriesName + '<br>Predicción: ' 
                                    + params.value
                            }
                        },
                        data:function (){
                        var list =[3.22,4.2,5.18,6.16,7.14,8.12];    
                        return list;
                        }()
                    }
                ]
            };
    myChart.setOption(option);
}
            
 lineal();       

</script>
{% endblock %}
